/**
 * PC端
 */
.file-grid-container {
  display: grid;
  //grid-column-gap: 10px;
  // 暂时给颜色
  //background-color: #2196F3;
  //padding: 10px;
  //grid-gap: 10px;
  gap: 24px;
}

.file-grid-item {
  //background-color: rgba(255, 255, 255, 0.8);
  //border: 1px solid rgba(0, 0, 0, 0.8);
  height: 200px;
  max-width: 188px;
  //margin-top: 10px;
  //padding: 10px;
}

.file-item-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
  width: 100%;
  height: 180px;
  vertical-align: top;
  cursor: pointer;

  .file-icon {
    width: 90%;
    height: 100px;
    border-radius: 10px;
    margin: auto;
    background: transparent;

    &__img {
      width: 95%;
      height: 95%;
      padding: 4px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    img {
      width: 95%;
      height: 95%;
      padding: 4px;
    }
  }

  .file-item-name {
    word-wrap: break-word;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    font-size: 14px;
    color: rgb(37, 38, 43);
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    margin-bottom: 2px;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    /* 禁用文本复制 */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
  }

  & .file-item-time {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: rgb(37, 38, 43, 0.36);
    max-width: 100%;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
  }
}

.file-item-box:hover {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 15px;
}

@media (max-width: 320px) {
  /* 当屏幕宽度小于或等于 320px 时应用的样式 */
  .file-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**    不同屏幕大小的样式     */
@media (min-width: 321px) and (max-width: 768px) {
  /* 当屏幕宽度在 321px 和 768px 之间时应用的样式 */
  .file-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* 当屏幕宽度在 769px 和 1024px 之间时应用的样式 */
  .file-grid-container {
    grid-template-columns: repeat(5, 1fr);

  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* 当屏幕宽度大于或等于 1025px 和 1440px 时应用的样式 */
  .file-grid-container {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  /* 当屏幕宽度大于或等于 1441px 和 1920px 时应用的样式 */
  .file-grid-container {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (min-width: 1921px) {
  /* 当屏幕宽度大于或等于 1921px 时应用的样式 */
  .file-grid-container {
    grid-template-columns: repeat(16, 1fr);
  }
}

/**
 mobile
 */